// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// styles for CTAP pages
.card {
  background: govuk-colour("light-grey");
  border-bottom: 3px solid govuk-colour("blue");
  a:hover {
    text-decoration: none;
  }
}

.card .card__heading {
  color: govuk-colour("blue");
}

.panel {
  background: govuk-colour("blue");
  padding: 40px 40px 40px 40px;
  color: govuk-colour("white");
}

.white-text {
  color: govuk-colour("white");
}

.white-circle {
  background: govuk-colour("white");
  display: table;
  text-align: center;
  border-bottom: none;
  font-weight: 700;
  width: 25px;
  height: 25px;
  margin: 10px 10px 10px 0px;
  border-radius: 50%;
}

.table-header-width {
  width: 30%;
}

.table-data-width {
  width: 65%;
}

.button-reverse {
  background: govuk-colour("white");
  color: govuk-colour("black");
}

.button-reverse:hover {
  background: govuk-colour("light-grey");
  color: govuk-colour("black");
}

.vertical-align-bottom {
  vertical-align: bottom;
  bottom: 0;
}

.sample-summary-table {
  width: 55%;
}
